@mixin clearfix {
	&:after {
		content:"";
		display:block;
		clear:both;
	}
}

@mixin sizing($s){
	-webkit-box-sizing: $s;
    -moz-box-sizing: $s;
    box-sizing: $s;
}

@mixin radius($r){
	-webkit-border-radius: $r;
    -moz-border-radius: $r;
    border-radius: $r	
}

@mixin transform($t...){
  -webkit-transform: $t;
  -moz-transform: $t;
  -ms-transform: $t;
  transform: $t;
}

@mixin transition($t...){
  -webkit-transition: $t;
  -moz-transition: $t;
  transition: $t;
}

@function pow($base, $exponent){
	$value: $base;
	if $exponent > 1{
		@for $i from 2 through $exponent{
			$value: $value * base;
		}
	}
	if $exponent < 1{
		@for $i from 0 through -$exponent{
			$value: $value / $base;
		}
	}
	return $value;
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes $animation-name {
		@content;
	}
	@-moz-keyframes $animation-name {
		@content;
	}
	@keyframes $animation-name {
		@content;
	}
}